.cardContainer {
  display: flex;
  flex-direction: column;
  column-gap: 10px;
  margin-bottom: 10px;
  cursor: pointer;

    h3 {
      color: #fff;
    }

    div {
      display: flex;
      column-gap: 20px;
    }
}

.imgFilme {
  width: 100%;
  border-radius: 5px;
}